<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>
<script src="js/bootstrap.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<style type="text/css" media="screen">
    #editor {
        position: relative;
        padding : 0px;
        margin : 0px;
        height: 500px;
    }
</style>
<script>
$(function(){
    var msg = $("#msg").text();
    if (msg == "") {
        $(".alert").alert('close');
    }
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.session.setMode("ace/mode/javascript");
    editor.session.setTabSize(4);
    editor.session.setUseSoftTabs(true);
    editor.setShowInvisibles(true);
    editor.setDisplayIndentGuides(true);

    var source = localStorage["main.js"];
    if (source) {
        editor.setValue(source);
        editor.gotoLine(1);
    }

    editor.getSession().on('change', function(e) {
        var source = editor.getValue();
        localStorage["main.js"] = source;
    });

    var editor_resize = function() {
        var height = $(window).height() - 180;
        height = Math.max(height, 200);
        $("#editor").css("height", height + "px");
        editor.resize()
    };
    
    editor_resize();
    
    $(window).resize(function(){
        editor_resize();
    });
    
    $("#build").click(function(){
        var source = editor.getValue();
        $("#source").attr("value", source);
        var target = $("#target-btn").attr("value");
        console.log(target);
        $("#target").attr("value", target);
        $("#mode").attr("value", "compile");
        $("form").submit();
    });

    $("#undo").click(function(){
        editor.undo();
    });
    $("#redo").click(function(){
        editor.redo();
    });

    $("#export").click(function(){
        var source = editor.getValue();
        $("#source").attr("value", source);
        $("#mode").attr("value", "export");
        $("form").submit();
    });

    var target_select = function(target) {
        $("#target-btn").text($("#"+target).text()).attr("value", target);
        localStorage["target"] = target;
    };

    var target = localStorage["target"];
    if (target) {
        target_select(target);
    }

    $("#lpc1768").click(function(){
        target_select($(this).attr("id"));
    });
    $("#k64f").click(function(){
        target_select($(this).attr("id"));
    });
    $("#lpc4088").click(function(){
        target_select($(this).attr("id"));
    });
    $("#f401re").click(function(){
        target_select($(this).attr("id"));
    });
    $("#f411re").click(function(){
        target_select($(this).attr("id"));
    });
    $("#l152re").click(function(){
        target_select($(this).attr("id"));
    });

});
</script>
<title>tiny-js on mbed</title>
</head>
<body>
<form action="" method="post" style="display:none;">
<input type="hidden" id="target" name="target" value="">
<input type="hidden" id="mode" name="mode" value="">
<input type="hidden" id="source" name="source" value="">
<input type="hidden" id="filename" name="filename" value="main.js">
</form>
<div class="container-fluid">
    <div id="header">
    <h3><a href="">tiny-js on mbed</a></h3>
    </div>
    <div class="row-fluid">
        <div class="span12">

<div class="alert alert-error">
<button class="close" data-dismiss="alert">&times;</button>
<p id="msg">{{msg}}</p>
</div>

<div class="btn-toolbar" style="margin:2px;">
<div class="btn-group">
  <button class="btn btn-primary" data-loading-text="build..." id="build"><i class="icon-download-alt icon-white"></i>build</button>
</div>
<div class="btn-group">
  <button class="btn" id="undo"><i class="icon-step-backward"></i>undo</button>
  <button class="btn" id="redo"><i class="icon-step-forward"></i>redo</button>
</div>
<div class="btn-group">
  <button class="btn" id="export"><i class="icon-hdd"></i>export</button>
</div>
<div class="btn-group">
  <button class="btn" id="target-btn" value="lpc4088">Embedded Artists LPC4088</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" id="lpc4088">Embedded Artists LPC4088</a></li>
    <li><a href="#" id="k64f">Freescale FRDM-K64F</a></li>
    <li><a href="#" id="lpc1768">mbed NXP LPC1768</a></li>
  </ul>
</div>

</div>
<ul class="nav nav-tabs" id="myTab" style="margin:0px;">
  <li class="active"><a href="#" style="padding:3px;">main.js</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="editor">
blinker = function() {
    var led = 0;
    mbed.Timeout(function() {
        led = !led; 
        mbed.DigitalOut('LED1', led);
        blinker();}, 0.2);
};
blinker();
</div>
</div>
        </div>
    </div>
    <div id="footer" style="padding:10px;">
    <a href="http://mbed.org/users/ohneta/code/TinyJS/">TinyJS on mbed</a>,
    <a href="https://bitbucket.org/va009039/tinyjsmbed">tinyjsmbed</a>,
    <a href="http://mbed.org/">mbed</a>
    </div>
</div>
</body>
</html>
